.Chicken{
	background-color: orange;
}
.Beef{
	background-color: red;
}
.Sushi{
	background-color: yellow;
}
p{
	background-color: gray;
}
h1{
	text-align: center;
}
#p1{
	width: 400px;
	height: 150px;
	border: 1px solid black;
}
#p2{
	width: 400px;
	height: 150px;
	border: 1px solid black;
	position: relative;
	left: 450px;
	bottom: 168px;

}
#p3{
	width: 400px;
	height: 150px;
	border: 1px solid black;
	position: relative;
	left: 900px;
	bottom: 336px;
}
@media (min-width: 768px) and (max-width: 991px){
	#p3{
		
        position: relative;
	    	top: 80px;
	    	right: 900px;
	    	width: 800px;

	}
}
@media (max-width: 767){
	#p2{
		    position: relative;
	    	right: 400px;
	    	top: 170px;
	}
	#p3{
		    position: relative;
	    	top: 340px;
	    	right: 800px;

	}
}
